/* source-sans-3-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-sans-3-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/source-sans-3-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --font: 'Source Sans 3';

  --fs-14: calc(14 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-28: calc(28 / 16 * 1rem);
  --fs-36: calc(36 / 16 * 1rem);
  --fs-42: calc(42 / 16 * 1rem);
  --fs-48: calc(48 / 16 * 1rem);
  --fs-72: calc(72 / 16 * 1rem);

  --font-size-topnav: var(--fs-14);
  --font-size-h1: clamp(2.625rem, 1.5rem + 4.8vw, 4.5rem);
  --font-size-h2: var(--fs-36);
  --font-size-h3: var(--fs-24);
  --font-size-p: var(--fs-18);
  --font-size-p-medium: var(--fs-20);
  --font-size-p-medium-desktop: var(--fs-24);
  --font-size-p-large: var(--fs-24);
  --font-size-p-large-desktop: var(--fs-28);
  --font-size-button: var(--fs-18);
  --font-size-quote: var(--fs-24);
  --font-size-quote-description: var(--fs-20);

  @media(width >= calc(600 / 16 * 1rem)) {
    --font-size-topnav: var(--fs-16);
    --font-size-h2: var(--fs-48);
    --font-size-quote: var(--fs-36);
    --font-size-quote-description: var(--fs-24);
  }
}