.button {
  display: inline-block;
  font-size: var(--font-size-button);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 10px 14px;
  border-radius: 24px;
  transition: 0.15s ease-in-out;
  transition-property: background-color, border-color, color;

  &.primary {
    background-color: var(--color-button-primary-bg);
    color: var(--color-button-primary-text);
    border: 2px solid var(--color-button-primary-border);

    &:hover {
      background-color: var(--color-button-primary-bg-hover);
      border-color: var(--color-button-primary-border-hover);
    }

    &.white {
      background-color: var(--color-button-primary-white-bg);
      color: var(--color-button-primary-white-text);
      border: 2px solid var(--color-button-primary-white-border);

      &:hover {
        background-color: var(--color-button-primary-white-bg-hover);
        border-color: var(--color-button-primary-white-border-hover);
      }
    }
  }

  &.secondary {
    background-color: var(--color-button-secondary-bg);
    color: var(--color-button-secondary-text);
    border: 2px solid var(--color-button-secondary-border);

    &:hover {
      background-color: var(--color-button-secondary-bg-hover);
      color: var(--color-button-secondary-text-hover);
    }
  }
}