@use "../util/functions" as *;

.features {
  &__wrapper {
    display: grid;
    gap: 40px;
    justify-items: center;

    @media (width >= rem(1000)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;

    @media (width < rem(1000)) {
      justify-items: center;
      text-align: center;
    }
  }

  &__icon {
    width: auto;
    height: 48px;
  }

  &__title {
    line-height: 1;
  }

  &__description {
    max-width: 40ch;
  }
}

