.features {
  &__wrapper {
    display: grid;
    gap: 40px;
    justify-items: center;

    @media (width >= calc(1000 / 16 * 1rem)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;

    @media (width < calc(1000 / 16 * 1rem)) {
      justify-items: center;
      text-align: center;
    }
  }

  &__icon {
    width: auto;
    height: calc(48 / 16 * 1rem);
  }

  &__title {
    line-height: 1;
  }

  &__description {
    max-width: 40ch;
  }
}

