.hero {
  background-color: var(--color-hero-bg);
  color: var(--color-text-light);

  &__wrapper {
    //display: flow-root;//creează un context de tip bloc pentru wrapper astfel încât marginea imaginii nu mai impinge in navbar
    //daca folosim margin-block (top si bottom) in image
    display: grid;
    padding-block: 30px 60px;

    @media (width >= calc(1000 / 16 * 1rem)) {
      grid-template-columns: 6fr 5fr;
      align-items: center;
      padding-block: 40px 80px;
    }
  }

  &__image {
    width: calc(200 / 16 * 1rem);
    margin-block-end: 40px;
    justify-self: center;

    @media (width >= calc(600 / 16 * 1rem)) {
      width: calc(483 / 16 * 1rem);
    }

    @media (width >= calc(1000 / 16 * 1rem)) {
      order: 1;
      margin-block-end: 0;
      justify-self: end;
    }
  }

  &__text {
  }

  &__title {
    margin-block-end: 12px;

    @media (width >= calc(600 / 16 * 1rem)) {
      margin-block-end: 20px;
    }
  }

  &__content {
    margin-block-end: calc(40 / 16 * 1rem);
    max-width: 40ch;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}

