@use "../util/functions" as *;

.testimonial {
  background-color: var(--color-bg);
  color: var(--color-text);


  &__wrapper {
    //max-width: calc(800 / 16 * 1rem);
  }

  &__figure {
    @media (width >= rem(1000)) {
      display: grid;
      column-gap: 40px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(2, auto); //auto - the size or row depends of the content (auto height)
      grid-template-areas:
              "l-quote quote   quote  quote  quote  r-quote"
              ".       author  author author author .";
    }
  }

  &__icon {
    width: rem(53);
    margin-block-end: 20px;

    @media (width >= rem(600)) {
      width: 78px;
      margin-block-end: 30px;
    }

    @media (width >= rem(1000)) {
      margin-block-end: 0;
    }

    &:first-child {
      @media (width >= rem(1000)) {
        grid-area: l-quote;
        justify-self: end;
      }
    }

    &:last-child {
      @media (width < rem(1000)) {
        display: none;
      }

      @media (width >= rem(1000)) {
        grid-area: r-quote;
        align-self: end;
        rotate: 180deg;
      }
    }
  }

  &__icon-path {
    fill: var(--color-icon);
  }

  &__blockquote {
    @media (width >= rem(1000)) {
      grid-area: quote;
      padding-block-start: 40px;
    }
  }

  &__quote-text {
    font-size: var(--font-size-quote);
    font-weight: 700;
    margin-block-end: 30px;
    text-wrap: wrap; //cancel text-wrap:balance from global on paragraph (with balance, right quote is kind of far from text)

    @media (width >= rem(600)) {
      margin-block-end: 40px;
    }
  }

  &__author-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px 30px;
    align-items: center;
    text-align: center;

    @media (width >= rem(600)) {
      flex-direction: row;
      text-align: left;
    }

    @media (width >= rem(1000)) {
      grid-area: author;
    }
  }

  &__author-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  &__author-description {
    font-size: var(--font-size-quote-description);
  }
}