@use "../util/functions" as *;

.topnav {
  background-color: var(--color-header-bg);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 12px;

    @media (width >= rem(600)) {
      padding-block: 20px;
    }
  }

  &__homelink {
    //&:hover {
    //  opacity: 0.9;
    //}
  }

  &__logo {
    //min-width: calc(70 / 16 * 1rem);
    width: 70px;

    @media (width >= rem(600)) {
      width: 128px;
    }
  }

  &__links {
    display: flex;
    gap: 20px;
    //list-style-type: none;
    //padding: 0;

    @media (width >= rem(600)) {
      gap: 40px;
    }
  }

  &__item {
  }

  &__link {
    font-size: var(--font-size-topnav);
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-text-light);

    &:after {
      content: ""; //is necessary
      display: block;
      height: 3px;
      background: linear-gradient(to right,
              var(--color-topnav-gradient-1),
              var(--color-topnav-gradient-2) 80%);
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }

    &:hover:after {
      opacity: 1;
    }
  }
}
